@model IEnumerable<MVCBlogTracker.Models.Blog>

@{
    ViewData["Title"] = "Display";
}

<h1>Display</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BlogId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BlogId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfCreation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
 *@

@foreach (var item in Model)
{
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">ASP.NET By :  @Html.DisplayFor(modelItem => item.EmailId)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.DateOfCreation)</p>
                <br>
                <p>@Html.DisplayFor(modelItem => item.Subject)</p>
                <a href="@Html.DisplayFor(modelItem => item.BlogUrl)" class="btn btn-primary">Visit</a>
            </div>
        </div>
    </div>

}